@media only screen and (min-width: 350px) {
	body {
		animation: fadeInAnimation ease 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	* {
		box-sizing: border-box;
	}

	.container {
		position: relative;
		text-align: center;
		color: white;
	}
	
	#h1-main {
		position: absolute;
		top: 26%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 40px;
	}
	
	#h1-external {
		font-size: 12px;
		text-align: center;
		letter-spacing: 4px;
		margin: 100px;
	}

	h2 {
		font-size: 18px;
		text-align: center;
		letter-spacing: 3px;
	}
	
	body {
		background-color: black;
		color: white;
	}
	
	section {
		margin: 30px;
	}

	#section-external {
		padding: 10px;
	}
	
	article {
		line-height: 1.3;
		text-align: center;
		border: 1px;
	}
	
	p {
		padding: 30px;
		word-spacing: 1px;
		letter-spacing: 1px;
		font-size: 12px;
	}

	.column-external {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		width: 22em;
	}
	
	.column-external2 {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		width: 22em;
	}

	.row-external:after {
		content: "";
		display: table;
		clear: both;
	}

	#p-external {
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 12px;
	}

	#p-external2 {
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 12px;
	}

	#imageBar {
		max-width: 100%;
		height: auto;
		width: auto;
	}

	img {
		max-width: 60%;
		height: auto;
		width: auto;
		transition: transform 0.5s;
	}

	img:hover {
		transform: scale(1.04);
	}
	
	#img-extern {
		max-width: 35%;
		height: auto;
		width: auto;
		transition: transform 0.5s;
		z-index: 1;
	}

	#img-extern:hover {
		transform: scale(1.04);
	}
	
	#article-extern {
		border: 1px;
		text-align: center;
	}

	ul {
		display: inline-block;
		text-align: center;
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 12px;
		list-style-position: inside;
	}
	
	#banner {
		overflow: hidden;
		background-color: rgba(26, 26, 26, 0.945);
		position: fixed;
		top: 0;
		width: 100%;
		left: 0%;
		z-index: 100;
	}

	#nav-extern {
		color: rgb(255, 255, 255);
		font-size: 12px;
		letter-spacing: 8px;
		padding: 20px;
		font-weight: bold;
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}
	
	a:link, a:visited {
		transition: font-size 0.5s;
	}

	a:hover, a:active {
		cursor: crosshair;
		font-size: 110%;
	}
	
	footer {
		text-align: center;
		font-size: 10px;
	}
}

@media only screen and (min-width: 650px) {
	body {
		animation: fadeInAnimation ease 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	* {
		box-sizing: border-box;
	}

	.container {
		position: relative;
		text-align: center;
		color: white;
	}
	
	#h1-main {
		position: absolute;
		top: 26%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 60px;
	}
	
	#h1-external {
		font-size: 22px;
		text-align: center;
		letter-spacing: 4px;
		margin: 100px;
	}

	h2 {
		font-size: 18px;
		text-align: center;
		letter-spacing: 3px;
	}
	
	body {
		background-color: black;
		color: white;
	}
	
	section {
		display: grid;
		justify-content: center;
		align-content: center;
		gap: 2px;
		grid-auto-flow: column;
		margin: 10px;
	}

	#section-external {
		padding: 10px;
	}
	
	article {
		line-height: 1.3;
		text-align: center;
		border: 1px;
	}
	
	p {
		padding: 30px;
		word-spacing: 1px;
		letter-spacing: 1px;
		font-size: 12px;
	}

	.column-external {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		width: 35em;
	}
	
	.column-external2 {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		width: 35em;
	}

	.row-external:after {
		content: "";
		display: table;
		clear: both;
	}

	#p-external {
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 15px;
	}

	#p-external2 {
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 15px;
	}

	#imageBar {
		max-width: 100%;
		height: auto;
		width: auto;
	}

	img {
		max-width: 100%;
		height: auto;
		width: auto;
		transition: transform 0.5s;
	}

	img:hover {
		transform: scale(1.04);
	}
	
	#img-extern {
		max-width: 35%;
		height: auto;
		width: auto;
		transition: transform 0.5s;
		z-index: 1;
	}

	#img-extern:hover {
		transform: scale(1.04);
	}
	
	#article-extern {
		border: 1px;
		text-align: center;
	}

	ul {
		display: inline-block;
		text-align: center;
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 15px;
		list-style-position: inside;
	}
	
	#banner {
		overflow: hidden;
		background-color: rgba(26, 26, 26, 0.945);
		position: fixed;
		top: 0;
		width: 100%;
		left: 0%;
		z-index: 100;
	}

	#nav-extern {
		color: rgb(255, 255, 255);
		font-size: 15px;
		letter-spacing: 8px;
		padding: 20px;
		font-weight: bold;
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}
	
	a:link, a:visited {
		transition: font-size 0.5s;
	}

	a:hover, a:active {
		cursor: crosshair;
		font-size: 110%;
	}
	
	footer {
		text-align: center;
		font-size: 10px;
	}
}

@media only screen and (min-width: 1000px) {
	body {
		animation: fadeInAnimation ease 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	* {
		box-sizing: border-box;
	}

	.container {
		position: relative;
		text-align: center;
		color: white;
	}
	
	#h1-main {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 90px;
	}
	
	#h1-external {
		font-size: 39px;
		text-align: center;
		letter-spacing: 8px;
		margin: 100px;
	}

	h2 {
		font-size: 25px;
		text-align: center;
		letter-spacing: 3px;
	}
	
	body {
		background-color: black;
		color: white;
	}
	
	section {
		display: grid;
		justify-content: center;
		align-content: center;
		gap: 4px;
		grid-auto-flow: column;
		margin: 50px;
	}

	#section-external {
		padding: 25px;
	}
	
	article {
		line-height: 2;
		text-align: center;
		border: 1px;
	}
	
	p {
		padding: 30px;
		word-spacing: 1.5px;
		letter-spacing: 1.5px;
		font-size: 15px;
	}

	.column-external {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		width: 40em;
	}
	
	.column-external2 {
		float: inherit;
		margin-left: auto;
		margin-right: auto;
		width: 30em;
	}

	.row-external:after {
		content: "";
		display: table;
		clear: both;
	}

	#p-external {
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 20px;
	}

	#p-external2 {
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 20px;
	}

	#imageBar {
		max-width: 100%;
		height: auto;
		width: auto;
	}

	img {
		max-width: 100%;
		height: auto;
		width: auto;
		transition: transform 0.5s;
	}

	img:hover {
		transform: scale(1.04);
	}
	
	#img-extern {
		max-width: 35%;
		height: auto;
		width: auto;
		transition: transform 0.5s;
		z-index: 1;
	}

	#img-extern:hover {
		transform: scale(1.04);
	}
	
	#article-extern {
		border: 1px;
		text-align: center;
	}

	ul {
		display: inline-block;
		text-align: center;
		padding: 10px;
		word-spacing: 2px;
		letter-spacing: 2px;
		font-size: 20px;
		list-style-position: inside;
	}
	
	#banner {
		overflow: hidden;
		background-color: rgba(26, 26, 26, 0.945);
		position: fixed;
		top: 0;
		width: 100%;
		left: 0%;
		z-index: 100;
	}

	#nav-extern {
		color: rgb(255, 255, 255);
		font-size: 20px;
		letter-spacing: 8px;
		padding: 20px;
		font-weight: bold;
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}
	
	a:link, a:visited {
		transition: font-size 0.5s;
	}

	a:hover, a:active {
		cursor: crosshair;
		font-size: 110%;
	}
	
	footer {
		text-align: center;
	}
}
